/* impostazioni generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#firstpage {
    width: 70%;
    margin: 10px auto;
}

/* header */

header img {
    height: 70px;
    width: 175px;
    margin-left: 10%;
}

#menu {
    margin-left: 10%;
}

#menu li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: 17px;
}

/* main */

/* intestazione */
#Jumbotron {
    height: 400px;
    margin-bottom: 20px;
    position: relative;
}


#Jumbotron img{
    height: 400px;
    width: 80%;
    margin: 10px 10%;
    object-fit: cover;
}

.imgtitle {
    position: absolute;
    left: 20px;
    width: 50%;
    margin: 10px 10%;
}

.big {
    bottom: 50px;
}

.small {
    bottom: 10px;
}

/* corpo */

#container {
    margin: 10px 10%;
    margin-bottom: 25px;
}

/* corpo, posizionamento */
#container::after {
    content: "";
    display: table;
    clear: both;
}

.head {
    margin-bottom: 20px;
}

 /* widget Dx */
.widget1 {
    float: left;
    width: 20%;
}

#imgwdg1 {
    width: 100%;
}

/* contenuto interno */
.content { 
    float: left;
    width: 55%;  
}

#imgcnt {
    width: 100%;
}

/* widget Sx */
.widget2 { 
    float: right;
    width: 20%;
}

#imgwdg2 {
    width: 100%;
}

/* footer */

footer {
    margin: auto 40%;
}

#heart {
    color: red;
    font-size: 15px;
}