/* impostazioni generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#firstpage {
    width: 70%;
    margin: 10px auto;
}

/* header */

header img {
    height: 70px;
    width: 175px;
    margin-left: 10%;
}

#menu {
    margin-left: 10%;
}

#menu li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-size: 17px;
}

/* main */

/* intestazione */
#Jumbotron {
    height: 400px;
    margin-bottom: 20px;
    position: relative;
}


#Jumbotron img{
    height: 400px;
    width: 80%;
    margin: 10px 10%;
}

.imgtitle {
    position: absolute;
    left: 20px;
    width: 50%;
    margin: 10px 10%;
}

.big {
    bottom: 50px;
}

.small {
    bottom: 10px;
}

/* corpo */

#container {
    margin: 10px 10%;
}

/* corpo, posizionamento */
#container::after {
    content: "";
    display: table;
    clear: both;
}

.head {

}

.widget1 {
    float: left;
    width: 15%;
    /* regole debug */
    height: 380px;
    background-color: lightblue;
    margin-right: 20px;
}

.content { 
    float: left;
    width: 65%;
    /* regole debug */
    height: 380px;
    background-color: lightblue;  
}

.widget2 { 
    float: right;
    width: 15%;
    /* regole debug */
    height: 380px;
    background-color: lightblue;
}

/* footer */

footer {
    /* regole debug */
    height: 50px;
    background-color: purple;
}